<a href="https://colab.research.google.com/github/adicu7/TelecomXChallenge/blob/main/ChallengeTelecom_Latam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests

url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json"

response = requests.get(url)
datajson = response.json()

df = pd.DataFrame(datajson)

df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

## **Explorar columnas, tipos de datos y significado**

In [13]:
# Dimensi칩n del DataFrame
print("Dimensiones del DataFrame:", df.shape)

# Ver nombres de columnas y tipos de datos
print("Columnas y tipos de datos:")
print(df.dtypes)

# Valores nulos por columna
print("\nValores nulos:")
print(df.isnull().sum())

Dimensiones del DataFrame: (7267, 6)
Columnas y tipos de datos:
customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

Valores nulos:
customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

In [12]:
# Expandimos cada columna que contiene un diccionario
customer_df = pd.json_normalize(df['customer'])
phone_df = pd.json_normalize(df['phone'])
internet_df = pd.json_normalize(df['internet'])
account_df = pd.json_normalize(df['account'])

df_flat = pd.concat([df[['customerID', 'Churn']], customer_df, phone_df, internet_df, account_df], axis=1)

df_flat.head(5)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## An치lisis de la estructura expandida
Estas son ahora columnas planas, lo que es ideal para an치lisis. Tienes 21 columnas, entre ellas:

### 游븴 Demogr치ficas
gender: G칠nero del cliente.

SeniorCitizen: Si es ciudadano mayor (probablemente 1 s칤, 0 no).

Partner, Dependents: Si tiene pareja / dependientes.

tenure: Antig칲edad como cliente (en meses, seguramente).

### 游 Servicios contratados
PhoneService, MultipleLines: Tel칠fono b치sico y m칰ltiples l칤neas.

InternetService: Tipo (DSL, Fiber optic, None).

OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies: Servicios digitales extra.

### 游눯 Cuenta y facturaci칩n
Contract: Tipo de contrato (Month-to-month, One year, Two year).

PaperlessBilling: Recibe factura digital?

PaymentMethod: Forma de pago.

Charges.Monthly: Cargos mensuales.

Charges.Total: Total pagado hist칩ricamente.

### 游꿢 Target
Churn: Si el cliente se fue (Yes) o no (No).

## Comprobaci칩n de incoherencias en los datos: Limpieza y validaci칩n de datos

In [17]:
# Valores nulos por columna
df_flat.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [20]:
# Filas duplicadas

duplicados = df_flat.duplicated().sum()
print(f"N칰mero de filas duplicadas: {duplicados}")

N칰mero de filas duplicadas: 0

In [21]:
df_flat.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

In [22]:
# Revisi칩n de valores categ칩ricos
categoricas = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
               'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
               'PaperlessBilling', 'PaymentMethod', 'Churn']

for col in categoricas:
    print(f"\nValores 칰nicos en {col}:")
    print(df_flat[col].unique())

Valores 칰nicos en gender:
['Female' 'Male']

Valores 칰nicos en Partner:
['Yes' 'No']

Valores 칰nicos en Dependents:
['Yes' 'No']

Valores 칰nicos en PhoneService:
['Yes' 'No']

Valores 칰nicos en MultipleLines:
['No' 'Yes' 'No phone service']

Valores 칰nicos en InternetService:
['DSL' 'Fiber optic' 'No']

Valores 칰nicos en OnlineSecurity:
['No' 'Yes' 'No internet service']

Valores 칰nicos en OnlineBackup:
['Yes' 'No' 'No internet service']

Valores 칰nicos en DeviceProtection:
['No' 'Yes' 'No internet service']

Valores 칰nicos en TechSupport:
['Yes' 'No' 'No internet service']

Valores 칰nicos en StreamingTV:
['Yes' 'No' 'No internet service']

Valores 칰nicos en StreamingMovies:
['No' 'Yes' 'No internet service']

Valores 칰nicos en Contract:
['One year' 'Month-to-month' 'Two year']

Valores 칰nicos en PaperlessBilling:
['Yes' 'No']

Valores 칰nicos en PaymentMethod:
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

Valores 칰nicos en Churn:
['No' 'Yes' '']

## Analisis de problemas encontrados:
Charges.Total: Es tipo object en vez de ser tipo num칠rico.

Churn: tiene un valor vacio.

Adem치s de eso no se encontraron valores nulos, ni filas duplicadas.

# Soluci칩n

In [23]:
# Verificar y eliminar filas con Churn vac칤o
print("Filas con Churn vac칤o:", df_flat[df_flat['Churn'] == ''].shape[0])

# Filtrar esas filas
df_flat = df_flat[df_flat['Churn'] != '']

Filas con Churn vac칤o: 224

In [24]:
# Convertimos la columna 'Charges.Total' a float64
df_flat['Charges.Total'] = pd.to_numeric(df_flat['Charges.Total'], errors='coerce')

# Verificamos el cambio
print(df_flat['Charges.Total'].dtype)

# Ver cu치ntos valores quedaron como NaN por errores de conversi칩n
print("Valores nulos despu칠s de conversi칩n:", df_flat['Charges.Total'].isnull().sum())

float64
Valores nulos despu칠s de conversi칩n: 11